@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Marck+Script&display=swap');

html {
  font-size: 36px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

nav {
  background-color: white;
  /* height: 60px; */
  height: 10vh;
  min-height: 80px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  height: 100%;
  line-height: 60px;
  padding: 0 16px;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li:not(.logo-container) {
  padding: 0 16px;
  display: none;
}

nav ul li.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

nav ul li.logo-container img {
  height: 80%;
  width: auto;
  margin-right: 16px;
}

nav ul li.logo-container h2 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #004A6A;
}

nav ul li.logo-container small {
  display: block;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-style: italic;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}


img {
  width: 100%;
}

p {
  line-height: 1.5;
}

section {
  padding: 32px;
}

section.neck {
  background-color: gray;
  min-height: 40vh;
  background:linear-gradient(0deg, #ffffffcc, #ffffffcc), url('assets/images/neck.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 64px;
}

section.neck > div {
  width: 100%;
  align-items: center;
}

section.neck > div .text-wrapper small {
  display: block;
  font-size: 60%;
  font-weight: 300;
}

section.neck .btn-wrapper h1 {
  margin: 32px 0;
}

section.neck > div .btn-wrapper {
  text-align: center;
}

section.neck .flex-container {
  min-height: 60vh;
  justify-content: left;
  align-items: center;
}

section.neck .text-wrapper a {
  background-color: #c8eaee;
  font-size: 1.4rem;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  color: #1b4967;
  display: inline-block;
}

section.quando img {
  /* flex-direction: column-reverse; */
  width: 70%;
  margin: 0 auto;
  display: block;
}

section.ambito-intervento {
  background: url('assets/images/background-line-pink.png');
  background-repeat: no-repeat;
  background-position: right center;
}

section.lo-studio .text-wrapper {
  width: 100;
  text-align: center;
}

section.lo-studio .img-wrapper {
  gap: 8px;
}

section.lo-studio .img-wrapper img {
  flex: 1;
  width: 18%;
}

section.lo-studio address {
  padding: 30px;
  color: #666;
  text-align: center;
}

section.lo-studio .col:first-child {
  display: flex;
  justify-content: left;
  align-items: center;
}

section.blockquote {
  margin: 64px 0;
  padding: 0 64px;
  background-color: rgba(219, 194, 228, 0.59);
}

section.blockquote .col-img {
  width: 100%;
  text-align: center;
}

section.blockquote img {
  width: 60%;
  margin: -2rem auto -2rem auto;
  border: 8px solid rgb(165, 133, 179);
}

section.blockquote blockquote {
  font-size: 2rem;
  text-align: center;
  color: rgb(112, 87, 124);
  margin: 4rem 0;
  line-height: 2.6rem;
}

section.blockquote blockquote sub {
  font-size: 4rem;
}

section.blockquote .text-wrapper {
  display: flex;
  align-items: center;
}

section.blockquote blockquote cite {
  display: block;
  font-size: 1rem;
  color: #333;
  font-style: italic;
}

section.blockquote blockquote cite:before {
  content: "-";
  margin-right: 16px;
}

section.contatti .d-flex {
  gap: 16px;
}

section.contatti h2 {
  text-align: center;
}

section.contatti ul {
  padding: 0;
  list-style-type: none;
}

section.contatti li {
  margin: 0;
  padding: 0;
}

section.contatti .colloquo-su-appuntamento {
  font-style: italic;
  color: #1b4967;
}

footer {
  background-color: #1d4967;
  color: #fff;
  height: 80px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

footer ul li {
  line-height: 80px;
  padding: 0 32px;
}

/* .font-mark-script {
  font-family: 'Marck Script', cursive;
} */

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-flex .col {
  flex: 0 1 auto;
}

.text-wrapper {
  height: fit-content;
}

section > h2,
.text-wrapper h1,
.text-wrapper h2,
.text-wrapper h3.h2 {
  color: #1b4967;
  font-size: 2rem;
  text-align: center;
}

.text-wrapper p {
  color: #404040;
  font-size: 1rem;
  font-weight: 300;
}

.w-1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.w-870 {
  max-width: 870px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  
  html {
    font-size: 14px;
  }
  
  nav ul li:not(.logo-container) {
    padding: 0 16px;
    display: flex;
    font-size: 16px;
  }

  section {
    padding: 64px;
  }
  
  section.neck > div .text-wrapper {
    max-width: 40%;
  }
  
  section.neck > div .btn-wrapper {
    text-align: left;
  }
  
  section.quando {
    flex-direction: row;
  }
  
  section.contatti .col:first-child {
    text-align: right;
  }
  
  section.blockquote blockquote {
    margin: 32px 0;
  }
  
  .d-flex .col {
    flex: 1;
  }
  
  .text-wrapper h1,
  .text-wrapper h2,
  .text-wrapper h3.h2 {
    text-align: left;
  }
}